In [1]:
%matplotlib inline

In [4]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
from statsmodels.sandbox.regression.predstd import wls_prediction_std

In [5]:
df = pd.read_csv("latimes-county-totals.csv")

In [8]:
df_la = df[df['county'] == 'Los Angeles']

In [9]:
df_la = df_la.drop(labels=['date','county','fips'], axis=1)

In [11]:
df_la = df_la.fillna(0)

In [14]:
days = list(range(1,len(df_la)+1))
df_la['culm_day'] = days

In [15]:
df_la.head()

     confirmed_cases  deaths  new_confirmed_cases  new_deaths  culm_day
795                1       0                  0.0         0.0         1
796                1       0                  0.0         0.0         2
797                1       0                  0.0         0.0         3
798                1       0                  0.0         0.0         4
799                1       0                  0.0         0.0         5

# Statsmodel: ordianrly linear regression

In [26]:
X = df_la.drop(labels=['confirmed_cases'], axis=1)
y = df_la['confirmed_cases']

In [27]:
model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:        confirmed_cases   R-squared (uncentered):                   0.991
Model:                            OLS   Adj. R-squared (uncentered):              0.990
Method:                 Least Squares   F-statistic:                              2418.
Date:                Sun, 03 May 2020   Prob (F-statistic):                    3.02e-92
Time:                        12:32:53   Log-Likelihood:                         -769.23
No. Observations:                  96   AIC:                                      1546.
Df Residuals:                      92   BIC:                                      1557.
Df Model:                           4
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
deaths                 17.3636      0.572     30.373      0.000      16.228      18.499
new_confirmed_cases     1.7428      0.410      4.250      0.000       0.928       2.557
new_deaths             25.6628      9.493      2.703      0.008       6.808      44.518
culm_day               12.0578      2.386      5.053      0.000       7.319      16.797
==============================================================================
Omnibus:                       24.904   Durbin-Watson:                   0.336
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               35.945
Skew:                           1.197   Prob(JB):                     1.57e-08
Kurtosis:                       4.804   Cond. No.                         66.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.