In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.metrics import r2_score,mean_squared_error
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("/Users/maggie/Documents/Bioinfo/hw/Bioinfo-Simulation/latimes-county-totals.csv")

In [3]:
df.head()

,date,county,fips,confirmed_cases,deaths,new_confirmed_cases,new_deaths
0,2020-01-26,Alameda,1,0,0,NaN,NaN
1,2020-01-31,Alameda,1,0,0,0.0,0.0
2,2020-02-02,Alameda,1,0,0,0.0,0.0
3,2020-02-20,Alameda,1,0,0,0.0,0.0
4,2020-02-21,Alameda,1,0,0,0.0,0.0

In [4]:
df_la = df[df['county'] == 'Los Angeles']

In [5]:
df.columns

Index(['date', 'county', 'fips', 'confirmed_cases', 'deaths',
       'new_confirmed_cases', 'new_deaths'],
      dtype='object')

In [6]:
df_la_death = la_death = df_la.drop(['fips','new_confirmed_cases','new_deaths','confirmed_cases'], axis=1)

In [7]:
la_death

           date       county  deaths
795  2020-01-26  Los Angeles       0
796  2020-01-27  Los Angeles       0
797  2020-01-28  Los Angeles       0
798  2020-01-29  Los Angeles       0
799  2020-01-30  Los Angeles       0
..          ...          ...     ...
886  2020-04-26  Los Angeles     916
887  2020-04-27  Los Angeles     948
888  2020-04-28  Los Angeles    1004
889  2020-04-29  Los Angeles    1065
890  2020-04-30  Los Angeles    1119

[96 rows x 3 columns]

In [8]:
la_confirmed = df_la.drop(['fips','new_confirmed_cases','new_deaths','deaths','county'], axis=1)

In [9]:
la_confirmed

           date  confirmed_cases
795  2020-01-26                1
796  2020-01-27                1
797  2020-01-28                1
798  2020-01-29                1
799  2020-01-30                1
..          ...              ...
886  2020-04-26            19567
887  2020-04-27            20460
888  2020-04-28            21017
889  2020-04-29            22522
890  2020-04-30            23233

[96 rows x 2 columns]

In [10]:
days = list(range(1,len(la_confirmed)+1))
len(days)

96

In [11]:
la_confirmed['date'] = days

In [12]:
la_confirmed

     date  confirmed_cases
795     1                1
796     2                1
797     3                1
798     4                1
799     5                1
..    ...              ...
886    92            19567
887    93            20460
888    94            21017
889    95            22522
890    96            23233

[96 rows x 2 columns]

In [12]:
X = la_confirmed['date'].values.reshape(-1,1)
y = la_confirmed['confirmed_cases'].values.reshape(-1,1)

In [13]:
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.3, random_state=0)

## RBF

In [14]:
svr_rbf = SVR(kernel='rbf', C= 100, gamma = 0.1)

In [15]:
svr_rbf.fit(train_X,train_y)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=100, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=0.1,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [16]:
y_predict = svr_rbf.predict(test_X)
y_predict

array([  6.16349237, 611.89731089,  36.07519506, 334.72360611,
       652.27251897, 581.94320164,   0.87431873, 651.35728589,
       274.8115783 , 667.25866946, 232.50226889, 673.61524351,
       713.02320189,   2.52782739,  73.05063173,   1.28806975,
         5.56812482,  10.94221637,   1.4958823 ,  58.06264034,
        17.28200965, 733.3335969 ,  33.46576964, 617.49203092,
        27.13725718,  49.8189056 ,  69.30249089, 531.67344916,
       582.06424232])

In [17]:
#evaluate model using mse
mse = mean_squared_error(test_y,y_predict)
#root mean square
rmse= np.sqrt(mse)
rmse

7168.834358086499

# Linear

In [18]:
svr_linear = SVR(kernel='linear', C= 100, gamma = 'auto')

In [22]:
# train_y

In [19]:
svr_linear.fit(train_X,train_y)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=100, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [20]:
y_predict = svr_linear.predict(test_X)
y_predict

array([  148.62340426,  8716.58085106, -3396.73829787,  4432.60212766,
        6353.00638298,  8273.4106383 , -1328.6106383 ,  7830.24042553,
        4284.8787234 ,  6057.55957447,  4137.15531915,  9307.47446809,
        6796.17659574, -1771.78085106, -2658.1212766 ,   739.51702128,
        -442.27021277,  -146.82340426,  1182.68723404, -2510.39787234,
        2659.9212766 ,  5466.66595745, -3249.01489362,  9012.02765957,
        2955.36808511,  3398.53829787, -2805.84468085, 10341.53829787,
        8125.68723404])

In [ ]:
#evaluate model using mse
mse = mean_squared_error(test_y,y_predict)
#root mean square
rmse= np.sqrt(mse)
rmse

# Polynomial

In [ ]:
svr_poly = SVR(kernel='poly', C= 100, gamma = 'auto',degree = 2)

In [ ]:
svr_poly.fit(train_X,train_y)
print('work')

In [ ]:
y_predict = svr_poly.predict(test_X)
y_predict

In [ ]:
#evaluate model using mse
mse = mean_squared_error(test_y,y_predict)
#root mean square
rmse= np.sqrt(mse)
rmse